html, body{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%
);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxStart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content: center;
    gap: 15px;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
    background-image: linear-gradient(to right, #f5f7fa 0%, #A8CABA  51%, #152238 100%);
}

.name{
    padding: 10px;
    margin: 10px;
}

.btn-grad {background-image: linear-gradient(to right, #5D4157 0%, #A8CABA  51%, #5D4157  100%)}

.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
}

.category {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}

.category2 {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}

.category3 {background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)}

.category5 {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}

.category4 {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}

.category, .category2, .category3, .category4, .category5 {
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grad:hover, .category:hover, .category2:hover, .category3:hover, .category4:hover, .category5:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }

.threeCategories, .twoCategories{
    display: flex;
    justify-content: space-evenly
}

     
.divFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divQuestion{
    width: 800px;
    height: 400px;
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    padding: 20px 80px;

}

.difficult{
    text-align: right;
}

.questionPhrase{
    margin-bottom: 30px;
}

.correct, .incorrect1, .incorrect2, .incorrect3{
    gap: 30px;
    background-color: #A8CABA;
    padding: 10px;
    background-image: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
    border-style:ridge;
}
    

