html{
    height: 100%;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%
);
    margin: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxStart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 15px;
    
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 350px;
    height: 150px;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f5f7fa 0%, #A8CABA  51%, #152238 100%);
}

.name{
    padding: 10px;
    margin: 10px;
}

.btn-grad {background-image: linear-gradient(to right, #5D4157 0%, #A8CABA  51%, #5D4157  100%)}

.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.category {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}

.category2 {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}

.category3 {background-image: linear-gradient(to right, #C04848 0%, #480048  51%, #C04848  100%)}

.category5 {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}

.category4 {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}

.category, .category2, .category3, .category4, .category5 {
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-grad:hover, .category:hover, .category2:hover, .category3:hover, .category4:hover, .category5:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    }

.threeCategories, .twoCategories{
    display: flex;
    justify-content: space-evenly
}

     
.divFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divQuestion{
    width: 800px;
    height: auto;
    min-height: 400px;
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    padding: 20px 80px;
    border-radius: 20px;

}

.difficult{
    text-align: right;
}

.questionPhrase{
    margin-bottom: 30px;
}

.answerA, .answerB, .answerC, .answerD{
    gap: 30px;
    padding: 10px;
    background-color: rgb(192, 192, 192);
    border-style:ridge;
    border-radius: 20px;
}

.correct:hover, .incorrect1:hover, .incorrect2:hover, .incorrect3:hover{
    border-color: #dfa8ff;
    border-width: 5px;
}

.endGame, .winRandom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: none;
    width: 800px;
    height: 400px;
    text-align: center;
    font-size: 30px;
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    border-radius: 20px;
    padding: 10px 30px;
}

.buttonReload {
    background-color: #1D976C;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}

.buttonReload:hover {
    border-color: rgb(17, 226, 27);
    border-style: ridge;
    padding: 25px;
    
}

.divScore {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.divCardScore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    border-radius: 20px;
    border-style: ridge;
    background-color: whitesmoke;
    padding: 10px;
}

.modesDiv {
    display: flex;
    justify-content: center;
}

.modes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
    width: 600px;
    height: 200px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
}

.buttonsMode {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.userSelect, .userSelectII {
    font-size: 15px;
    width: 100px;
    padding: 15px;
    text-align: center;
    background-color: gainsboro;
    border-radius: 10px;
}

.userSelect:hover, .userSelectII:hover {
    font-size: 16px;
    border: solid black
}